[flake8]
max-line-length = 120
exclude = 
    .git,
    __pycache__,
    .pytest_cache,
    htmlcov,
    .venv,
    venv,
    build,
    dist,
    *.egg-info
ignore = 
    E501,
    E127,
    E128,
    E129,
    E226,
    E261,
    E303,
    E306,
    E402,
    W503,
    W391,
    W291,
    W293,
    W504
per-file-ignores =
    __init__.py:F401
